body{
  /* background-color: #0f1015; */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
}

.text-mix-color{
  background: linear-gradient(90deg, rgb(247, 39, 152), rgb(82, 92, 285)) text;
  -webkit-text-fill-color: transparent;
}

.hover-text-mix-color:hover{
  background: linear-gradient(90deg, rgb(247, 39, 152), rgb(82, 92, 285)) text;
  -webkit-text-fill-color: transparent;
}



/* .text-color{
  color: white;
} */